.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: rgba(216, 34, 80, 0.7);
  }
  

.title{
    margin-bottom: 2rem;
}

.container{
    padding-top: 2rem;
}

.juego {
    width: 100%;
    max-width: 700px;
    margin: auto; 
  }
  

.card-title{
    font-size: 125px;
}

.card-header, .card-footer{
    font-size: 45px;
}

@media (max-width: 1300px) {
    .main{
        height: 120vh;
    }
}
