.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: linear-gradient(
    to top,
    transparent 10%,
    rgba(208, 228, 33, 0.5) 50%,
    rgb(156, 39, 104) 95%
  );
}
.intentos {
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}
.title {
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}

.bandera {
  width: 12em;
  height: 7em;
}

.card {
  padding: 1em;
  background-color: black;
}

@media (max-width: 1300px) {
  .main {
    height: 120vh;
  }
}
